################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FleetPlanner/XSLT/*/.vs/*
/FleetPlanner/XSLT/*/bin
/FleetPlanner/XSLT/*/obj
/.vs
