################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FleetPlanner/XSLT/ImportVehiclesCsv/.vs/ImportVehiclesCsv
/.vs
