<?xml version="1.0"?>
<configuration>
	<!-- The configsection is simple and mandatory this helps the databridge service read the later sections. We will define 2 bridges, where one of them is of course optional to run. -->
	<configSections>
		<!-- This section is mandatory -->        
		<section name="bridgeSetup" type="DataBridgeSetup.BridgeSetupSection, DataBridge"/>

		<!-- BridgeDynamic reads from a web service and places messages on MSMQ queue, so direction WS->MSMQ -->
		<sectionGroup name="DatabridgeDataImport">
			<section name="InFileData" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileVehicles" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileTerminals" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<!-- <section name="OutFileDestination" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> -->
			<!-- <section name="OutFileMasterRoute" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> -->
			<!-- <section name="OutFileOrders" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> -->
			<!-- <section name="OutFileDrivers" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> -->
		</sectionGroup>	
	</configSections>
	
	<!-- The following section is simple mandatory settings -->		
	<appSettings>
		<add key="log4net.Config" value="log4net.config" />
		<add key="ServiceDependencies" value="MSMQ" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

	<!-- In this section we set structure, which section (the ones we set above) is the entrypoint or reader and which is the exit or writer.  -->
	<bridgeSetup>
		<bridges>
			<!-- BridgeDynamic is defined to read from InWS and write to OutMSMQ -->
			<bridge name='DatabridgeDataImport'>
				<reader name='DatabridgeDataImport/InFileData' type='FileReader.FileReader, FileReader'/>
				<writers>
					<writer name="OutFileVehicles">
                        <output name="DatabridgeDataImport/OutFileVehicles" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<writer name="OutFileTerminals">
                        <output name="DatabridgeDataImport/OutFileTerminals" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<!-- <writer name="OutFileDestination"> -->
                        <!-- <output name="DatabridgeDataImport/OutFileDestination" type="MSMQWriter.MSMQWriter, MSMQWriter"/> -->
                    <!-- </writer> -->
					<!-- <writer name="OutFileMasterRoute"> -->
                        <!-- <output name="DatabridgeDataImport/OutFileMasterRoute" type="MSMQWriter.MSMQWriter, MSMQWriter"/> -->
                    <!-- </writer> -->
					<!-- <writer name="OutFileOrders"> -->
                        <!-- <output name="DatabridgeDataImport/OutFileOrders" type="MSMQWriter.MSMQWriter, MSMQWriter"/> -->
                    <!-- </writer> -->
					<!-- <writer name="OutFileDrivers"> -->
                        <!-- <output name="DatabridgeDataImport/OutFileDrivers" type="MSMQWriter.MSMQWriter, MSMQWriter"/> -->
                    <!-- </writer> -->
					<!-- insert line for filewriter, same structure as above -->
				</writers>
			</bridge>
		</bridges>
	</bridgeSetup>

	<!-- Here you set the technical details of the reader and writers	 -->
	<DatabridgeDataImport>        
		<InFileData>
            <add key="Trace" value="1" />
			<add key="DirectoryPending" value="C:\mine\data\lakin\pending"/>
			<add key="DirectoryProcessing" value="Processing"/>
			<add key="DirectorySucceeded" value="C:\mine\data\lakin\processed"/>
			<add key="DirectoryFailed" value="C:\mine\data\lakin\failed"/>
			<add key="ConvertCsvToXmlDelimiter" value="," />
        </InFileData>
		<OutFileVehicles>
			<add key="endpoint" value="msmqEndPointVehicles" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_vehicles.xsl"/>
			<!-- <add key="Stylesheet" value="XSLT\copy.xsl"/> -->
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileVehicles>
		<OutFileTerminals>
			<add key="endpoint" value="msmqEndPointTerminals" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_terminals.xsl"/>
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileTerminals>
		<!-- <OutFileDestination> -->
			<!-- <add key="endpoint" value="msmqEndPointDestination" />			 -->
			<!-- <add key="AllowCreateQueue" value="1"/>			 -->
			<!-- <add key="Trace" value="1" /> -->
			<!-- <add key="Binary" value="0" /> -->
			<!-- <add key="Stylesheet" value="XSLT\split_destination.xsl"/> -->
			<!-- <add key="SplitToMultipleMessages" value="true"/> -->
        <!-- </OutFileDestination> -->
		<!-- <OutFileMasterRoute> -->
			<!-- <add key="endpoint" value="msmqEndPointMasterRoutes" />			 -->
			<!-- <add key="AllowCreateQueue" value="1"/>			 -->
			<!-- <add key="Trace" value="1" /> -->
			<!-- <add key="Binary" value="0" /> -->
			<!-- <add key="Stylesheet" value="XSLT\split_MasterRoutes.xsl"/> -->
			<!-- <add key="SplitToMultipleMessages" value="true"/> -->
        <!-- </OutFileMasterRoute> -->
		<!-- <OutFileOrders> -->
			<!-- <add key="endpoint" value="msmqEndPointOrders" />			 -->
			<!-- <add key="AllowCreateQueue" value="1"/>			 -->
			<!-- <add key="Trace" value="1" /> -->
			<!-- <add key="Binary" value="0" /> -->
			<!-- <add key="Stylesheet" value="XSLT\split_Orders.xsl"/> -->
			<!-- <add key="SplitToMultipleMessages" value="true"/> -->
        <!-- </OutFileOrders> -->
		<!-- <OutFileDrivers> -->
			<!-- <add key="endpoint" value="msmqEndPointDrivers" />			 -->
			<!-- <add key="AllowCreateQueue" value="1"/>			 -->
			<!-- <add key="Trace" value="1" /> -->
			<!-- <add key="Binary" value="0" /> -->
			<!-- <add key="Stylesheet" value="XSLT\split_Drivers.xsl"/> -->
			<!-- <add key="SplitToMultipleMessages" value="true"/> -->
        <!-- </OutFileDrivers> -->
						<!-- insert line for filewriter, same structure as above -->
	</DatabridgeDataImport>
	
	
	<system.serviceModel>
		<services>
		</services>
	
		
		<client>
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Vehicles"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointVehicles" />
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Terminals"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointTerminals" />
			<!-- <endpoint -->
				<!-- address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Destination" -->
				<!-- binding="msmqIntegrationBinding" -->
				<!-- bindingConfiguration="MSMQOutputBinding" -->
				<!-- contract="MSMQWriter.IMSMQWriter" -->
				<!-- name="msmqEndPointDestination" /> -->
			<!-- <endpoint -->
				<!-- address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_MasterRoutes" -->
				<!-- binding="msmqIntegrationBinding" -->
				<!-- bindingConfiguration="MSMQOutputBinding" -->
				<!-- contract="MSMQWriter.IMSMQWriter" -->
				<!-- name="msmqEndPointMasterRoutes" /> -->
			<!-- <endpoint -->
				<!-- address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Orders" -->
				<!-- binding="msmqIntegrationBinding" -->
				<!-- bindingConfiguration="MSMQOutputBinding" -->
				<!-- contract="MSMQWriter.IMSMQWriter" -->
				<!-- name="msmqEndPointOrders" /> -->
			<!-- <endpoint -->
				<!-- address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Drivers" -->
				<!-- binding="msmqIntegrationBinding" -->
				<!-- bindingConfiguration="MSMQOutputBinding" -->
				<!-- contract="MSMQWriter.IMSMQWriter" -->
				<!-- name="msmqEndPointDrivers" /> -->
		</client>
		
		<bindings>
			<basicHttpBinding>			
				<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:30:00" sendTimeout="00:30:00" name="myBinding">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
					
				</binding>
			</basicHttpBinding>
			<msmqIntegrationBinding>
				<binding 
						name="MSMQOutputBinding" 
						exactlyOnce="true" 
						maxReceivedMessageSize="4000000" 
						serializationFormat="Stream">
					<security>
						<transport 
								msmqAuthenticationMode="None" 
								msmqProtectionLevel="None" />
					</security>
				</binding>			
			</msmqIntegrationBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>	

</configuration>