<?xml version="1.0"?>
<configuration>
	<!-- The configsection is simple and mandatory this helps the databridge service read the later sections. We will define 2 bridges, where one of them is of course optional to run. -->
	<configSections>
		<!-- This section is mandatory -->        
		<section name="bridgeSetup" type="DataBridgeSetup.BridgeSetupSection, DataBridge"/>

		<!-- BridgeDynamic reads from a web service and places messages on MSMQ queue, so direction WS->MSMQ -->
		<sectionGroup name="DatabridgeDataImport">
			<section name="InFileData" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileGoods" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileYards" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileVehicles" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileDrivers" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileDisposalSites" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="OutFileCustomers" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<!-- <section name="OutFileOrders" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> -->
		</sectionGroup>	
	</configSections>
	
	<!-- The following section is simple mandatory settings -->		
	<appSettings>
		<add key="log4net.Config" value="log4net.config" />
		<add key="ServiceDependencies" value="MSMQ" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>

	<!-- In this section we set structure, which section (the ones we set above) is the entrypoint or reader and which is the exit or writer.  -->
	<bridgeSetup>
		<bridges>
			<!-- BridgeDynamic is defined to read from InWS and write to OutMSMQ -->
			<bridge name='DatabridgeDataImport'>
				<reader name='DatabridgeDataImport/InFileData' type='FileReader.FileReader, FileReader'/>
				<writers>
					<writer name="OutFileGoods">
                        <output name="DatabridgeDataImport/OutFileGoods" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<writer name="OutFileYards">
                        <output name="DatabridgeDataImport/OutFileYards" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<writer name="OutFileVehicles">
                        <output name="DatabridgeDataImport/OutFileVehicles" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<writer name="OutFileDrivers">
                        <output name="DatabridgeDataImport/OutFileDrivers" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<writer name="OutFileDisposalSites">
                        <output name="DatabridgeDataImport/OutFileDisposalSites" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<writer name="OutFileCustomers">
                        <output name="DatabridgeDataImport/OutFileCustomers" type="MSMQWriter.MSMQWriter, MSMQWriter"/>
                    </writer>
					<!-- <writer name="OutFileOrders"> -->
                        <!-- <output name="DatabridgeDataImport/OutFileOrders" type="MSMQWriter.MSMQWriter, MSMQWriter"/> -->
                    <!-- </writer> -->
					<!-- insert line for filewriter, same structure as above -->
				</writers>
			</bridge>
		</bridges>
	</bridgeSetup>

	<!-- Here you set the technical details of the reader and writers	 -->
	<DatabridgeDataImport>        
		<InFileData>
            <add key="Trace" value="1" />
			<add key="DirectoryPending" value="C:\mine\data\lakin\pending"/>
			<add key="DirectoryProcessing" value="Processing"/>
			<add key="DirectorySucceeded" value="C:\mine\data\lakin\processed"/>
			<add key="DirectoryFailed" value="C:\mine\data\lakin\failed"/>
			<add key="ConvertCsvToXmlDelimiter" value="," />
        </InFileData>
		<OutFileGoods>
			<add key="endpoint" value="msmqEndPointGoods" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_goods.xsl"/>
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileGoods>
		<OutFileYards>
			<add key="endpoint" value="msmqEndPointYards" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_yards.xsl"/>
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileYards>
		<OutFileVehicles>
			<add key="endpoint" value="msmqEndPointVehicles" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_vehicles.xsl"/>
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileVehicles>
		<OutFileDrivers>
			<add key="endpoint" value="msmqEndPointDrivers" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_drivers.xsl"/>
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileDrivers>
		<OutFileDisposalSites>
			<add key="endpoint" value="msmqEndPointDisposalSites" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_disposal_sites.xsl"/>
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileDisposalSites>
		<OutFileCustomers>
			<add key="endpoint" value="msmqEndPointCustomers" />			
			<add key="AllowCreateQueue" value="1"/>			
			<add key="Trace" value="1" />
			<add key="Binary" value="0" />
			<add key="Stylesheet" value="XSLT\split_customers.xsl"/>
			<add key="SplitToMultipleMessages" value="true"/>
        </OutFileCustomers>
		<!-- <OutFileOrders> -->
			<!-- <add key="endpoint" value="msmqEndPointOrders" />			 -->
			<!-- <add key="AllowCreateQueue" value="1"/>			 -->
			<!-- <add key="Trace" value="1" /> -->
			<!-- <add key="Binary" value="0" /> -->
			<!-- <add key="Stylesheet" value="XSLT\split_Orders.xsl"/> -->
			<!-- <add key="SplitToMultipleMessages" value="true"/> -->
        <!-- </OutFileOrders> -->
	</DatabridgeDataImport>
	
	
	<system.serviceModel>
		<services>
		</services>
		<client>
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Goods"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointGoods" />
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Yards"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointYards" />
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Vehicles"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointVehicles" />
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Drivers"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointDrivers" />
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_DisposalSites"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointDisposalSites" />
			<endpoint
				address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Customers"
				binding="msmqIntegrationBinding"
				bindingConfiguration="MSMQOutputBinding"
				contract="MSMQWriter.IMSMQWriter"
				name="msmqEndPointCustomers" />
			<!-- <endpoint -->
				<!-- address="msmq.formatname:DIRECT=OS:.\private$\tw2fp_Orders" -->
				<!-- binding="msmqIntegrationBinding" -->
				<!-- bindingConfiguration="MSMQOutputBinding" -->
				<!-- contract="MSMQWriter.IMSMQWriter" -->
				<!-- name="msmqEndPointOrders" /> -->
		</client>
		
		<bindings>
			<basicHttpBinding>			
				<binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:30:00" sendTimeout="00:30:00" name="myBinding">
					<readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
					
				</binding>
			</basicHttpBinding>
			<msmqIntegrationBinding>
				<binding 
						name="MSMQOutputBinding" 
						exactlyOnce="true" 
						maxReceivedMessageSize="4000000" 
						serializationFormat="Stream">
					<security>
						<transport 
								msmqAuthenticationMode="None" 
								msmqProtectionLevel="None" />
					</security>
				</binding>			
			</msmqIntegrationBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>	

</configuration>