<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<log4net debug="true">
		<!--
			Appender types: http://www.beefycode.com/post/Log4Net-Tutorial-pt-3-Appenders.aspx or http://logging.apache.org/log4net/release/config-examples.html
			Order of Levels: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL
			Roots seems not to be affected by levels. It logs everything that is accepted by other loggers.
		-->
		  
		<!-- For logging to the error log file, that logs call stack of all exceptions -->
		<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="DataBridge-error.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d %-5level - %message%newline" />
			</layout>
		</appender>
	 
		<!-- For logging to the flow log file, that logs every method call -->
		<appender name="FlowFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="DataBridge-flow.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d %-5level - %message%newline" />
			</layout>
		</appender>

		<!-- For logging to Visual Studio's Output view -->
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.SimpleLayout" />
		</appender>

		<!-- Accepts all thrown exceptions. LegelValidationExceptions are level WARN, all others are level ERROR -->
		<logger name="ExceptionLog">
			<level value="ERROR" />
			<appender-ref ref="ErrorFileAppender" />
			<appender-ref ref="TraceAppender" />
		</logger>

		<!-- Accepts action calls and performance counters -->
		<logger name="FlowLog">
			<level value="DEBUG" />
			<appender-ref ref="FlowFileAppender" />
		</logger>
	</log4net>
</configuration>
